input{
    width: 300px !important;
    height: 30px;
}
.main-container{
    border-radius: 20px;
}

.dec{
        width: 1000px !important;
        height: 620px;
        background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

.btnCustom{
    height: 35px !important;
}
.btn-x{
    margin-top: 44px ;
   
}
img{
    width:200px;
    height:200px;
    border-radius: 20px;
    
}

.center{
    position: relative;
    margin-top: 50px;
    margin-left: 400px;
}
.wind-icon{
   font-size: 50px;
    
}
.humidity-icon{
    font-size: 50px; 
}

.txt{
    display: flex;
    justify-content: end;
    
}

.temp-div, .city-div {
    margin-left: 50px;
 }


.humidity{
    position: relative;
    left: 250px;
}
.wind{
    position: relative;
left: 150px;

}
.wind-speed{
    box-sizing: border-box;
}